.movie__inner {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      width: 23%;
      position: relative;

      em {
        display: block;
        height: 80px;
        margin-bottom: 30px;
        font-family: var(--font-kor1);
      }

      .title {
        padding: 5px 0;
        display: inline-block;
      }
      .star {
        background: #fff;
        color: #000;
        position: absolute;
        left: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        font-weight: 800;
      }
    }
  }
  a {
    color: var(--white);
  }
}

.movie__search {
  margin-bottom: 100px;

  .container {
    position: relative;
  }

  h2 {
    color: var(--white);
    font-size: 40px;
    text-indent: -9999px;
    height: 0;
  }

  input {
    background: #000;
    border: 1px solid var(--white);
    border-radius: 50px;
    color: var(--white);
    width: 100%;
    padding: 14px 30px;
    font-family: var(--font-kor1);
  }
  button {
    position: absolute;
    right: 8px;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    font-family: var(--font-kor1);
    cursor: pointer;
    z-index: 1000;
  }
}
.movie__pop {
  margin-top: 150px;
  width: 100%;
  overflow-x: auto;

  .movie__popular_inner {
    color: var(--white);
    font-size: 25px;
    margin-bottom: 70px;
    text-align: left;
    font-family: var(--font-kor1);
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

    .swiper-wrapper {
      width: 30%;

      .swiper-slide-active img {
        filter: brightness(140%);
      }
    }

    li {
      width: 65%;
      position: relative;
      transition: all 0.3s;
      margin-bottom: 60px;

      &:hover {
        scale: 1.05;
      }
    }
    em {
      display: block;
      height: 80px;
      margin-bottom: 30px;
      font-family: var(--font-kor);
    }
    .title {
      padding: 5px 0;
      display: inline-block;
    }
    .star {
      background: #fff;
      color: #000;
      position: absolute;
      left: 10px;
      top: 10px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      font-weight: 700;
    }
  }
  a {
    color: var(--white);
  }
}
